<!-- Contact-->
<section class="page-section" id="aboutthispage" [ngClass]="{ 'bg-light': bglight }">
  <div class="container">
    <div class="container d-flex mb-0 mt-0">
      <div class="row justify-content-md-center">
        <div class="card text-bg-light" style="">
          <div class="card-header">Fonte</div>
          <div class="card-body">
            <h5 class="card-title">Sobre esta página</h5>
            <p class="card-text" style="font-size: 14px">
              Está pagina foi desenvolvida para apresentação da minha carreira e dos meus conhecimentos, mas também como forma de praticar os estudos de Angular e TypeScript. <br />
              Ela envolve o desenvolvimento com Angular atualizada na versão 17, versionada em um repostório no GitHub, o deploy e publicação acontece de forma automática usando o GitHub Actions sendo
              hospedada no Azure Static Web Apps.
            </p>
            <div class="d-inline" style="font-size: 14px">
              <b>Código fonte desta página: </b>
            </div>
            <div class="d-inline" style="font-size: 14px">
              <a href="https://github.com/robsonalvesdev/robsonalvesdevbr-angular17" aria-label="Alura" class="text-muted text-decoration-none" target="_blank"
                >https://github.com/robsonalvesdev/robsonalvesdevbr-angular17</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
