<!-- About-->
<section class="page-section" id="about" [ngClass]="currentClass()">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Sobre</h2>
      <h3 class="section-subheading text-muted">Saiba mais sobre minha carreira.</h3>
    </div>
    <ul class="timeline">
      <li class="mb-5">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" ngSrc="assets/img/about/4.jpg" alt="..." fill />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2000</h4>
            <h4 class="subheading">Início de carreira</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Possuo 25 anos de experiência em desenvolvimento de software. Iniciei minha trajetória
              em 2000 como instrutor, lecionando programação em Delphi, hardware, design de websites
              e informática básica, incluindo aulas particulares. Permaneci nessa função por cinco
              anos.<br />
              Em seguida, atuei como desenvolvedor de sistemas financeiros, focado em
              contas-correntes, documentos e leasing, utilizando Delphi, Visual Studio, Oracle e SQL
              Server. Posteriormente, trabalhei com sistemas notariais e automação industrial,
              empregando tecnologias como .NET Core, Kubernetes, Go, Rust, além de plataformas em
              nuvem como Azure e GCP.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted mb-5">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" ngSrc="assets/img/about/4.jpg" alt="..." fill />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2000</h4>
            <h4 class="subheading">Conhecimentos Técnicos</h4>
          </div>
          <div class="timeline-body">
            <span class="text-muted">
              Minhas principais competências técnicas incluem:
              <ul>
                <li>.NET (C#)</li>
                <li>Cloud (Azure, AWS)</li>
                <li>JavaScript</li>
                <li>Rust, Go</li>
                <li>RabbitMQ, Kafka, Docker, Kubernetes</li>
                <li>SQL Server, Oracle, MySQL, MongoDB, PostgreSQL, Cassandra</li>
                <li>CI/CD (Azure DevOps, GitHub Actions)</li>
                <li>
                  Ferramentas de desenvolvimento (Visual Studio, Rider, ReSharper, SonarQube, VS
                  Code)
                </li>
                <li>DataDog, Grafana, Kibana</li>
                <li>Metodologias ágeis (Scrum, Kanban)</li>
                <li>Arquitetura de software</li>
                <li>Revisão de código</li>
                <li>Gerenciamento de aplicações e infraestrutura em nuvem</li>
                <li>Organização de processos de desenvolvimento</li>
              </ul>
            </span>
          </div>
        </div>
      </li>
      <li class="mb-5">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" ngSrc="assets/img/about/4.jpg" alt="..." fill />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2019</h4>
            <h4 class="subheading">Evolução da carreira</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Desde 2019, atuo como Arquiteto de Software, Líder Técnico e Desenvolvedor.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted mb-5">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" ngSrc="assets/img/about/4.jpg" alt="..." fill />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2024</h4>
            <h4 class="subheading">Atualmente</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Trabalho como desenvolvedor e consultor em tecnologia, com foco em revisão de código,
              gerenciamento de aplicações e infraestrutura em nuvem, organização de processos de
              desenvolvimento e arquitetura de software.<br />
              Desenvolvo soluções para o setor financeiro, incluindo gateways de pagamento e
              fintechs, utilizando tecnologias como Azure, AWS, .NET 7, RabbitMQ, Azure DevOps,
              CI/CD, Visual Studio, Rider, ReSharper, SonarQube, VS Code, Kubernetes e DataDog.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Esta é parte<br />
            da minha<br />
            história!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
