<!-- Contact-->
<section class="page-section" id="contact" [ngClass]="{ 'bg-light': bglight }">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contato</h2>
    </div>

    <div class="alert alert-light" role="alert">
      <div class="container d-flex">
        <div class="row justify-content-md-center">
          <div class="col-md-auto align-self-center">
            <div class="team-member align-self-center">
              <img alt="..." class="mx-auto rounded-circle" src="/assets/img/myimage.jpg" />
            </div>
          </div>
          <div class="col-md-auto mt-3">
            <h4 class="alert-heading">{{ profiles.name }}</h4>
            <b>Localização:</b> {{ profiles.country }}, {{ profiles.city }}/{{ profiles.state }} <br />
            <b>Email:</b> {{ profiles.email }} <br />
            <b>Nascimento:</b> {{ profiles.birthday | date : 'dd/MM/yyyy' }}<br />
            <b>Website: </b><a [href]="profiles.website" aria-label="Alura" class="text-muted text-decoration-none" target="_blank">{{ profiles.website }}</a
            ><br />
            <b>LinkedIn: </b><a [href]="profiles.linkedin" aria-label="Alura" class="text-muted text-decoration-none" target="_blank">{{ profiles.linkedin }}</a
            ><br />
            <b>Github: </b><a [href]="profiles.github" aria-label="Alura" class="text-muted text-decoration-none" target="_blank">{{ profiles.github }}</a
            ><br />
            <b>--------------------------------------------------------------</b><br />
            <p>
              <a aria-label="Email" class="btn btn-dark btn-social mx-2" href="mailto:{{ profiles.email }}?subject=Contato website robsonalves.dev.br"><i class="fa fa-envelope"></i></a>
              <a [href]="profiles.website" aria-label="Website" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fa-solid fa-house"></i></a>
              <a [href]="profiles.linkedin" aria-label="LinkedIn" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a [href]="profiles.github" aria-label="Github" class="btn btn-dark btn-social mx-2" target="_blank"><i class="fab fa-github"></i></a>
            </p>
          </div>
        </div>
      </div>

      <hr />
    </div>
  </div>
</section>
