<!-- Contact-->
<section class="page-section" id="contact" [ngClass]="currentClass()">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contato</h2>
    </div>

    <div class="alert alert-light" role="alert">
      <div class="container d-flex">
        <div class="row justify-content-md-center">
          <div class="col-md-auto align-self-center">
            <div class="team-member align-self-center">
              <img alt="..." class="mx-auto rounded-circle" src="/assets/img/myimage.jpg" />
            </div>
          </div>
          <div class="col-md-auto mt-3">
            <h4 class="alert-heading">{{ profiles().name }}</h4>
            <b>Localização:</b> {{ profiles().country }}, {{ profiles().city }} / {{ profiles().state }} <br />
            <b>Email:</b> {{ profiles().email }} <br />
            <b>Nascimento:</b> {{ profiles().birthday | date: 'dd/MM/yyyy' }}<br />
            <b>Idade:</b> {{ calcularIdade(profiles().birthday) }}<br />

            @for (item of profiles().urlList | keyvalue: asIsOrder; track item) {
              <div class="d-inline">
                <b>{{ item.key }}: </b>
              </div>
              <div class="d-inline">
                <a
                  [href]="item.value"
                  [attr.aria-label]="item.key"
                  class="text-muted text-decoration-none"
                  target="_blank"
                  rel="noopener noreferrer">{{ item.value }}</a>
              </div>
              <br />
            }
            <b>--------------------------------------------------------------</b><br />
            <p>
              <a aria-label="Email" class="btn" href="mailto:{{ profiles().email }}?subject=Contato website robsonalves.dev.br"><i class="bi bi-envelope-at-fill" style="font-size: 35px"></i></a>
              <a
                [href]="profiles().urlList.get('WebSite')"
                aria-label="Website"
                class="btn"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bi bi-house-fill" style="font-size: 35px"></i></a>
              <a
                [href]="profiles().urlList.get('LinkedIn')"
                aria-label="LinkedIn"
                class="btn"
                target="_blank"
                rel="noopener noreferrer"
                [appGoogleAnalytics]="{ event: 'click_linkedin', category: 'link_contact', label: 'linkedin' }"
                ><i class="bi bi-linkedin" style="font-size: 35px"></i
              ></a>
              <a
                [href]="profiles().urlList.get('Instagram')"
                aria-label="Instagram"
                class="btn"
                target="_blank"
                rel="noopener noreferrer"
                [appGoogleAnalytics]="{ event: 'click_instagram', category: 'link_contact', label: 'instagram' }"
                ><i class="bi bi-instagram" style="font-size: 35px"></i
              ></a>
              <a
                [href]="profiles().urlList.get('GitHub')"
                aria-label="GitHub"
                class="btn"
                target="_blank"
                rel="noopener noreferrer"
                [appGoogleAnalytics]="{ event: 'click_github', category: 'link_contact', label: 'githubpage' }"
                ><i class="bi bi-github" style="font-size: 35px"></i
              ></a>
              <a
                href="https://github.com/robsonalvesdev/robsonalvesdevbr-angular17"
                aria-label="GitHub"
                class="btn"
                target="_blank"
                rel="noopener noreferrer"
                [appGoogleAnalytics]="{ event: 'click_githubpage', category: 'link_contact', label: 'githubpage' }"
                ><i class="bi bi-git" style="font-size: 35px"></i
              ></a>
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="card text-bg-light">
          <div class="card-header">Sobre esta página</div>
          <div class="card-body">
            <p class="card-text" style="font-size: 14px">
              Está pagina foi desenvolvida para apresentação da minha carreira e dos meus conhecimentos, mas também como forma de praticar os estudos de Angular e TypeScript. <br />
              Ela envolve o desenvolvimento com Angular atualizada na versão 17 (agora na verção 18), versionada em um repostório no GitHub, o deploy e publicação acontece de forma automática usando o
              GitHub Actions sendo hospedada no Azure Static Web Apps.
            </p>
            <div class="d-inline" style="font-size: 14px; color: red">
              <b>Código fonte desta página: </b>
            </div>
            <div class="d-inline" style="font-size: 14px">
              <a
                href="https://github.com/robsonalvesdev/robsonalvesdevbr-angular"
                aria-label="Alura"
                class="text-muted text-decoration-none"
                target="_blank"
                rel="noopener noreferrer"
                [appGoogleAnalytics]="{ event: 'click_githubpage', category: 'link_contact', label: 'githubpage' }"
                aria-label="Visite o repositório do GitHub"
                >https://github.com/robsonalvesdev/robsonalvesdevbr-angular</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
