<!-- Contact-->
<section class="page-section" id="contact" [ngClass]="{ 'bg-light': bglight }">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contato</h2>
    </div>

    <div class="alert alert-light" role="alert">
      <div class="container d-flex">
        <div class="row justify-content-md-center">
          <div class="col-md-auto align-self-center">
            <div class="team-member align-self-center">
              <img alt="..." class="mx-auto rounded-circle" src="/assets/img/myimage.jpg" />
            </div>
          </div>
          <div class="col-md-auto mt-3">
            <h4 class="alert-heading">{{ profiles.name }}</h4>
            <b>Localização:</b> {{ profiles.country }}, {{ profiles.city }}/{{ profiles.state }} <br />
            <b>Email:</b> {{ profiles.email }} <br />
            <b>Nascimento:</b> {{ profiles.birthday | date : 'dd/MM/yyyy' }}<br />

            <ng-template ngFor [ngForOf]="profiles.urlList | keyvalue : asIsOrder" let-item>
              <b>{{ item.key }}: </b><a [href]="item.value" aria-label="Alura" class="text-muted text-decoration-none" target="_blank">{{ item.value }}</a
              ><br />
            </ng-template>

            <b>--------------------------------------------------------------</b><br />
            <p>
              <a aria-label="Email" class="btn" href="mailto:{{ profiles.email }}?subject=Contato website robsonalves.dev.br" style="font-size: 35px"><i class="bi bi-envelope-at-fill"></i></a>
              <a [href]="profiles.urlList.get('WebSite')" aria-label="Website" class="btn" target="_blank"><i class="bi bi-house-fill" style="font-size: 35px"></i></a>
              <a [href]="profiles.urlList.get('LinkedIn')" aria-label="LinkedIn" class="btn" target="_blank"><i class="bi bi-linkedin" style="font-size: 35px"></i></a>
              <a [href]="profiles.urlList.get('GitHub')" aria-label="GitHub" class="btn" target="_blank"><i class="bi bi-github" style="font-size: 35px"></i></a>
            </p>
          </div>
        </div>
      </div>

      <hr />
    </div>
  </div>
</section>
