<!-- About-->
<section class="page-section bg-light" id="graduation">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">(Pós)Graduação <span class="badge rounded-pill bg-warning fs-6" >{{graduations.length}}</span></h2>
          <h3 class="section-subheading text-muted">Saiba mais sobre minhas graduações e pós-graduações</h3>
      </div>
      <ul class="timeline">
          <li *ngFor="let item of graduations; index as i;" [ngClass]="{'timeline-inverted': i%2 != 0}">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/others/formacao.png" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>{{ item.conclusionDate | date:'yyyy' }}</h4>
                      <h4 class="subheading">{{ item.name }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"><b>{{ item.conclusion | messageDateConclusion }}</b></p>
                    <p class="text-muted">{{ item.institution }}</p>
                    <p class="text-muted"><a [href]="item.websiteInstituition" target="_blank">{{ item.websiteInstituition }}</a></p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <h4>
                      Esta é parte
                      <br />
                      Da minha
                      <br />
                      Formação!
                  </h4>
              </div>
          </li>
      </ul>
  </div>
</section>
