<!-- About-->
<section class="page-section" id="graduation" [ngClass]="{ 'bg-light': bglight }">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">(Pós)Graduação</h2>
      <h3 class="section-subheading text-muted">
        Saiba mais sobre minhas graduações e pós-graduações&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge rounded-pill bg-warning fs-7">{{ graduations.length }}</span>
      </h3>
    </div>
    <ul class="timeline">
      <li *ngFor="let item of graduations; index as i" [ngClass]="{ 'timeline-inverted': i % 2 != 0 }" class="mb-5">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/others/formacao.png" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5>{{ item.conclusionDate | date : 'yyyy' }}</h5>
            <h5 class="subheading">{{ item.name }}</h5>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              <b>{{ item.conclusion | messageDateConclusion }}</b>
            </p>
            <p class="text-muted">{{ item.institution }}</p>
            <p class="text-muted">
              <a [href]="item.websiteInstituition" target="_blank" [appGoogleAnalytics]="{ event: 'click_graduation', category: 'link', label: 'course-certificate', value: item.name }">{{
                item.websiteInstituition
              }}</a>
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Esta é parte
            <br />
            Da minha
            <br />
            Formação!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
