span.click:hover, span.click:active {
  background-color: yellow;
  text-decoration: solid;
}

a.click:hover, a.click:active {
  text-decoration: none;
  background-color: yellow;
}

a.click {
  text-decoration: none;
  color: black;
}
