<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-lg-start">
        &copy; {{ 'footer.copyright' | translate: { year: currentYear } }}
      </div>
      <div class="col-lg-6 text-lg-end mt-3 mt-lg-0">
        <a
          class="link-body-emphasis text-decoration-none me-3"
          href="https://startbootstrap.com/theme/agency"
          target="_blank"
          rel="noopener"
          (click)="onFooterLinkClick('startbootstrap')"
          >{{ 'footer.pageTemplate' | translate }}</a
        >
        <a
          class="link-body-emphasis text-decoration-none"
          href="https://github.com/robsonalvesdevbr/robsonalvesdevbr-angular"
          target="_blank"
          rel="noopener"
          (click)="onFooterLinkClick('github_repo')"
          >{{ 'footer.sourceCode' | translate }}</a
        >
      </div>
    </div>
    <p class="small text-muted text-center mt-3 mb-0">{{ 'footer.about' | translate }}</p>
  </div>
</footer>
