<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">&copy; Robson Alves 2000-2025 · Todos os direitos reservados.</div>
            <div class="col-lg-4 my-3 my-lg-0"></div>
            <div class="col-lg-4 text-lg-end">
                <a
                    class="link-dark text-decoration-none me-3"
                    href="https://startbootstrap.com/theme/agency"
                    target="_blank"
                    rel="noopener"
                    >Template da página</a
                >
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
