/* You can add global styles to this file, and also import other style files */
/* @use 'bootstrap/scss/bootstrap'; */

.fontemenor {
  font-size: 13px;
  margin: 0px;
}

.fontemenor11 {
  font-size: 11px;
  margin: 0px;
}

.fontemenor12 {
  font-size: 12px;
  margin: 0px;
}
