/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.fontemenor {
  font-size: 13px;
  margin: 0px;
}

.fontemenor11 {
  font-size: 11px;
  margin: 0px;
}
